code {
  font-family: input-mono, monospace;
  font-weight: 400;
  font-style: normal;
}

.article-container > h1 {
  color: var(--white);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  text-align: center;
  margin: 50px 0 10px;
  font-family: sofia-pro, sans-serif;
}

.article-container > p {
  margin: 0 0 20px 0;
  font-size: 15px;
  color: var(--white);
  padding: 2rem;
  /* width: 750px; */
  text-align: justify;
  font-family: Moderne Sans, sans-serif;
}
